@font-face {
  font-family: "iconfont"; /* Project id 3844146 */
  src: url('iconfont.woff2?t=1672302394825') format('woff2'),
       url('iconfont.woff?t=1672302394825') format('woff'),
       url('iconfont.ttf?t=1672302394825') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-luyin:before {
  content: "\e600";
}

.icon-jiantou_xiangyou:before {
  content: "\eb08";
}

.icon-jiantou_xiangzuo:before {
  content: "\eb09";
}

.icon-liebiao:before {
  content: "\e635";
}

.icon-unfolded-s:before {
  content: "\e602";
}

.icon-suoxiao:before {
  content: "\ec13";
}

.icon-fangda:before {
  content: "\ec14";
}

.icon-shouqi:before {
  content: "\e61e";
}

.icon-shuaxin:before {
  content: "\e630";
}

.icon-tuichuquanping:before {
  content: "\e603";
}

.icon-quanping:before {
  content: "\e601";
}

.icon-xiazai:before {
  content: "\e620";
}

.icon-sousuo:before {
  content: "\e614";
}

.icon-zitiyanse:before {
  content: "\ec85";
}

.icon-liebiaoxuanze-:before {
  content: "\e619";
}

